/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  background-color: #0B4251; /* Defina a cor de fundo desejada */
}

.avatar {
  width: 200px; /* Defina a largura desejada para a imagem */
  height: auto; /* Mantenha a altura automática para manter a proporção */
  margin-bottom: 10px; /* Ajuste a margem inferior conforme desejado */
}

/* Estilos para os botões das redes sociais */
.social-buttons {
  display: flex; /* Use flexbox para alinhar os itens vertical e horizontalmente */
  justify-content: center; /* Centralize horizontalmente */
  align-items: center; /* Centralize verticalmente */
  margin-top: 5px; /* Adicione margem superior para espaçamento */
}

/* Estilos para os ícones dos botões das redes sociais */
.social-buttons {
  display: flex; /* Use flexbox para alinhar os ícones */
  justify-content: center; /* Centralize horizontalmente */
  align-items: center; /* Centralize verticalmente */
  margin-top: 5px; /* Adicione margem superior para espaçamento */
}

.social-buttons .icon {
  width: 30px; /* Defina a largura desejada para os ícones */
  height: auto; /* Mantenha a altura automática para manter a proporção */
  margin: 0 5px; /* Adicione margem entre os ícones para espaçamento */
  cursor: pointer; /* Adicione a propriedade cursor para indicar que os ícones são clicáveis */
}

/* Buttons */
.button,
button {
  display: flex; /* Use flexbox para alinhar os itens */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 20px; /* Aumente o padding horizontal conforme necessário */
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto; /* Adicione esta linha para centralizar os botões */
  margin-bottom: 10px;
}

.button span,
button span {
  margin-left: 10px; /* Adiciona margem à esquerda do texto para espaçamento */

/* Botões para telas maiores que 600px (por exemplo, para computadores) */
@media (min-width: 600px) {
  .button,
  button {
    width: 500px; /* Largura fixa para telas maiores */
    max-width: none; /* Remover largura máxima */
  }
}

/* Botões para telas menores que 600px (por exemplo, para dispositivos móveis) */
@media (max-width: 600px) {
  .button,
  button {
    width: 80%; /* Largura relativa para dispositivos móveis */
    max-width: 200px; /* Largura máxima para dispositivos móveis */
  }
}
  
}     
button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7AB8FF solid 3px
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20%; /* Define a largura da imagem como 100% do tamanho do botão */
  height: 20%; /* Mantém a altura automática para manter a proporção */
  margin-right: 10px; /* Adiciona margem à direita da imagem para espaçamento */
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #2457F5;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}

/* Wikiluck */
.button.button-wikiluck {
  color: #FFFFFF;
  background-color: #F9F0A4
  opacity: .4;
  border: 2px solid #FFF002;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

/* LeBull */
.button.button-lebull {
  color: #FFFFFF;
  background-color: #F9F0A4
  opacity: .4;
  border: 2px solid #FF9B00;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

/* NineCasino */
.button.button-ninecasino {
  color: #FFFFFF;
  background-color: #F9F0A4
  opacity: .4;
  border: 2px solid #FFF002;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

/* 5Gringos */
.button.button-5gringos {
  color: #FFFFFF;
  background-color: #F9F0A4
  opacity: .4;
  border: 2px solid #FFF002;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

/* HorusCasino */
.button.button-horuscasino {
  color: #ffffff;
  background-color: #5865f2
  opacity: .4;
  border: 2px solid #FFF002;
}
.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* Telegram */
.button.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}
.button.button-telegram:hover,
.button.button-telegram:focus {
  filter: brightness(90%);
}

/* Twitch */
.button.button-twitch {
  color: #ffffff;
  background-color: #9146ff;
}
.button.button-twitch:hover,
.button.button-twitch:focus {
  filter: brightness(90%);
}

/* Website */
.button.button-web {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-web:hover,
.button.button-web:focus {
  filter: brightness(90%);
}

/* X */
.button.button-x {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

/* YouTube */
.button.button-yt {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-yt:hover,
.button.button-yt:focus {
  filter: brightness(90%);
}

